* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto Mono', monospace;
  font-size: 4vmin;
  min-height: 100vh;
  display: grid;
  overflow: hidden;
  place-items: center;
  background: #0f0f0f; 
  color: #f2ff8d; 
}

.hr,
.min,
.sec {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4vmin;
  grid-row: 1 / 2;
  align-items: start;
}

.number {
  user-select: none;
  width: 8vmin;
  height: 8vmin;
  display: grid;
  place-items: center;
  color: #f2ff8d; 
  transition: all 500ms 100ms ease;
  border-radius: 50%;
}

.number.pop {
  color: #0f0f0f;
  font-weight: bold;
  transform: scale(1.3);
  background-color: #f2ff8d; 
  box-shadow: -1vmin -1vmin 2vmin -0.5vmin #333,
               1vmin 1vmin 2vmin #1a1a1a;
}

.strip {
  transition: transform 500ms ease-in-out;
  border-radius: 1.3333333333333vmin;
  background-color: #1a1a1a;
  box-shadow: -1vmin -1vmin 2vmin -0.5vmin #333,
               1vmin 1vmin 2vmin #000;
}

.clock {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8vmin;
  height: 4vmin;
  position: relative;
  padding: 0 4vmin;
}
